.month-calendar {
  font-size: 0.75em;
}

.calendar-month-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-week {
  display: flex;
  margin-bottom: 0.5em;
}

.calendar-week-selected {
  background-color: var(--bs-gray-200);
}

.calendar-day {
  display: flex;
  height: 1.5em;
  align-items: center;
  justify-content: center;
  flex-basis: 15%;
  background-color: transparent;
  border: 1px solid transparent;
  outline: 0;
  cursor: pointer;
}

.calendar-day-today {
  font-weight: bold;
  border-radius: 0.5em;
  color: var(--bs-primary);
}

.btn-nav {
  width: 15%;
  max-width: 5em;
  height: 1.5em;
  border-width: 0;
}
